body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2{
    color : #0068FF;
    margin-top: 0;
    margin-bottom: 2px;
}

#borderBox {
    width: 470px;
    height: 760px;
    border-radius: 20px; 
    border: 1px solid  #AACDFF;
    box-sizing: border-box;
    box-shadow: 7px 7px 39px 0 rgba(0, 104, 255, 0.25);
    padding: 100px; /* 내부 여백 추가 */
    background-color: #fff; /* 배경색 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 내부 요소 간 균일한 간격으로 정렬 */
}

Gender {

}



